/* < 320px */
@media only screen and (min-width: 0px) {
  .avatar {
    width: 96px;
    height: 96px;
  }
  .name {
    font-size: 28px;
  }
  .subname {
    font-size: 16px;
  }
  .description {
    font-size: 18px;
  }
}

/* 320px and up */
@media only screen and (min-width: 320px) {
  .avatar {
    width: 96px;
    height: 96px;
  }
  .name {
    font-size: 28px;
  }
  .subname {
    font-size: 16px;
  }
  .description {
    font-size: 18px;
  }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 1024px) {
  .content {
    width: 75%;
  }
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1280px) {
  .content {
    width: 65%;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
}

.center-info {
  display: flex;
}

.description {
  text-align: justify;
}
