.project {
  display: flex;
  justify-content: space-between;
  column-gap: 3rem;
  row-gap: 3rem;
  margin-top: 3rem;
  width: 100%;
}

.gif {
  max-width: 500px;
}

.description {
  align-self: center;
  text-align: justify;
  text-justify: inter-word;
}

.desc-title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}

/* até 1500px */
@media only screen and (max-width: 1500px) {
  .project {
    flex-direction: column;
  }
  .gif {
    align-self: center;
  }
}

/* até 675px */
@media only screen and (max-width: 675px) {
  .project {
    flex-direction: column;
  }
  .gif {
    align-self: center;
    max-width: 74.074vw;
  }
}
