@media only screen and (max-width: 1500px) {
  .project {
    flex-direction: column;
  }
  .description {
    margin-bottom: 3rem;
  }
}

@media only screen and (max-width: 501px) {
  .description {
    font-size: 20px;
  }
}

.gif {
  max-width: 500px;
}

.description {
  align-self: center;
  text-align: justify;
  text-justify: inter-word;
}

.desc-title {
  margin: 0px;
  font-weight: bold;
}

.project {
  display: flex;
  justify-content: center;
  column-gap: 3rem;
  margin-top: 3rem;
}
